body {
  font-family: "Arial Nova", Arial,  Helvetica, sans-serif;
}
#container {
  position: relative;
  width: 400px;
  margin: 0 auto;
}
#header {
  display: flex;
  background-color: #FF0;
}
#output {
  background: #F00;
}
input {
  font-family: "Arial Nova", Arial,  Helvetica, sans-serif;
  font-size: 0.9rem;
}
.title {
  font-size: 2rem;
  font-weight: bold;
}
.left {
  flex: 1 0 auto;
  align-self: center;
}
.right {
  flex: 0 1 auto;
  align-self: center;
}

.element {
  margin: 5px 5px;
  background-color: #F0F;
  width: 100px;
  height: 120px;
  position: relative;
}
.element p {
  text-align: center;
  margin: 0;
  position: absolute;
  width: 100%;
}
p.number {
  font-size: 12px;
  top: 5%;
  width: 20%;
}
p.symbol {
  font-size: 40px;
  font-weight: bold;
  top: 20%;
}
p.name {
  font-size: 18px;
  bottom: 20%;
}
p.weight {
  font-size: 12px;
  bottom: 5%;
}
