body {
  font-family: "Arial Nova", Arial,  Helvetica, sans-serif;
}
hr {
  border: none;
  background-color: #eee;
  height: 1px;
}
#container {
  margin: 0 auto;
  width: 100%;
  display:inline-block;
}
#header {
  position: relative;
  margin: 0 auto;
  width: 350px;
  display: flex;
  text-align: center;
}
#body {
  margin: 32px auto;
  display: flex;
  width: 90%;
  position: relative;
  flex-direction: column;
}
#output {
  display: inline-block;
}
#legend {
  text-align: left;
  display: inline-block;
  margin: 32px auto;
  line-height: 0;
}
#legend p {
  font-size: 0.78rem;
  display: inline;
  padding-left: 7px;
}
input {
  font-family: "Arial Nova", Arial,  Helvetica, sans-serif;
  font-size: 0.9rem;
}
input[type="text"] {
  width: 50%;
}
.title {
  font-size: 2rem;
  font-weight: bold;
}
.left {
  flex: 1 0 auto;
  align-self: center;
}
.right {
  flex: 0 1 auto;
  align-self: center;
}
.element {
  margin: 5px;
  width: 100px;
  height: 120px;
  position: relative;
  float: left;
}
.space {
  width: 100%;
  position: relative;
  float: left;
}
.square {
  width: 11px;
  height: 11px;
  display: inline-block;
}
.fake {
  background-color: #000;
}
.alkali {
  background-color: #7099c4;
}
.alkaline_earth {
  background-color: #3a5b84;
}
.transition {
  background-color: #904d57;
}
.lanthanide {
  background-color: #7b445c;
}
.actinide {
  background-color: #613141;
}
.post-transition {
  background-color: #5a2245;
}
.metalloid {
  background-color: #3e103d;
}
.reactive_nonmetal {
  background-color: #1a274a;
}
.noble_gas {
  background-color: #190e29;
}
.unknown {
  background-color: #342c2c;
}

.element p {
  text-align: center;
  margin: 0;
  position: absolute;
  width: 100%;
  color: #fff;
  color: #fffc;
}
p.number {
  font-size: 12px;
  top: 5%;
  left: 7%;
  text-align: left;
}
p.symbol {
  font-size: 40px;
  font-weight: bold;
  top: 20%;
}
p.name {
  font-size: 14px;
  bottom: 20%;
}
p.weight {
  font-size: 12px;
  bottom: 5%;
}
